h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 36px;
    text-align: center;
    color: #333;
}




.scroll-box {
    overflow-y: scroll;
    max-height: 200px; /* Ajusta la altura máxima según tus necesidades */
    background-color: rgba(75, 74, 74, 0.8);
    border: 1px solid #ccc; /* Borde opcional */
    padding: 10px; /* Espaciado interno opcional */
  }

/* Estilos para la barra de navegación */
.navbar {
    background-color: #333;
    color: #fff;
}

.navbar-brand {
    font-size: 24px;
}

.navbar-nav .nav-link {
    font-size: 18px;
    color: #fff;
}

/* Estilos para las tarjetas de proyecto */
.card {
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.card-title {
    font-size: 24px;
    font-weight: bold;
    -webkit-text-stroke: 1px black; /* Contorno negro */
    text-shadow: 3px 3px 0px white, -1px -1px 0px white, 1px -1px 0px white, -1px 1px 0px white; /* Sombreado blanco */
    margin-top: 30px;
    color: #1d3f11;
}



.card-text {
    font-size: 16px;
    color: #555;
}

/* Estilos para el gráfico de barras */
.bar {
    fill: #007bff;
    transition: fill 0.3s;
}

.bar:hover {
    fill: #0056b3;
}

/* Estilos para el texto junto al gráfico de barras */
text {
    font-size: 16px;
    font-weight: bold;
    fill: #333;
}

/* Estilos para el contenedor principal */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Estilos para el pie de página */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333; /* Cambia el color de fondo según tus preferencias */
    color: #fff; /* Cambia el color de texto según tus preferencias */
    padding: 10px; /* Añade relleno para que el contenido sea visible */
    text-align: center; /* Centra el texto dentro del pie de página */
}

/* Estilos para la sección de aptitudes */
.skills-section {
    text-align: center;
    margin-top: 50px;
}

.skill-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.skill-name {
    font-weight: bold;
    width: 100px;
    margin-right: 10px;
}

.skill-bar-progress {
    flex-grow: 1;
    height: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.skill-bar-fill {
    height: 100%;
    border-radius: 5px;
    background-color: #007bff;
    transition: width 0.5s;
}

.skill-barphp .skill-bar-fill {
    background-color: #FF5722; /* Ejemplo de color para PHP */
  }
  
  .skill-barlaravel .skill-bar-fill {
    background-color: #FFD700; /* Ejemplo de color para Laravel */
  }
  
  .skill-barcss .skill-bar-fill {
    background-color: #008CBA; /* Ejemplo de color para CSS */
  }
  
  .skill-barhtml5 .skill-bar-fill {
    background-color: #E44D26; /* Ejemplo de color para HTML5 */
  }
  
  .skill-barjs .skill-bar-fill {
    background-color: #F0DB4F; /* Ejemplo de color para JavaScript */
  }

  .skill-barmysql .skill-bar-fill {
    background-color: #f04fba; /* Ejemplo de color para JavaScript */
  }



//contac//;

body {
    background-color: #f8f9fa;
}

.contact-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}

.form-group label {
    font-weight: bold;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

@media (max-width: 768px) {
   .mb20px{
    margin-bottom: 120px;

   }
}


////


